@media only screen 
and (max-width : 640px) {

	#player-info {
	  left: 10px;
  	  width: 120px;
	}

	#zone-info {
	  left: 148px;
 	  width: 150px;
	}

	#icon-panel {
	  top: 4em;
	  left: 0px;
	  margin-top: 0px;
	  margin-left: 2px;
	  max-width: 24px;
	}
}
